<mat-dialog-content class="mat-typography">
  <div class="form-fields-container">
    <form [formGroup]="form">
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Ex. rent" formControlName="name" />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Due Amount</mat-label>
          <input matInput formControlName="amount" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Due Date</mat-label>
          <input
            matInput
            [matDatepicker]="dueDatePicker"
            formControlName="dueDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="dueDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Payment Source</mat-label>
          <input
            matInput
            placeholder="Ex. debit"
            formControlName="paymentSource"
          />
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Payment Amount</mat-label>
          <input matInput formControlName="paymentAmount" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Payment Date</mat-label>
          <input
            matInput
            [matDatepicker]="payDatePicker"
            formControlName="paymentDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="payDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #payDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-row">
        <label class="radio-row">Pay type:</label>
        <mat-radio-group formControlName="payType">
          @for(payType of payTypes; track payType) {
          <mat-radio-button
            class="radio-row"
            color="primary"
            [value]="payType"
            >{{ payType }}</mat-radio-button
          >
          }
        </mat-radio-group>
      </div>

      @if(expense.expenseCategoryType === categoryTypes.CreditCards) {
      <div class="form-row">
        <mat-form-field>
          <mat-label>Balance Type</mat-label>
          <mat-select formControlName="balanceType">
            @for(bType of balanceTypes; track bType) {
            <mat-option [value]="bType">{{ bType }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      }

      <mat-form-field class="notes-full-width">
        <mat-label>Notes</mat-label>
        <textarea
          matInput
          placeholder="Add a note.."
          formControlName="note"
        ></textarea>
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="warn"
    class="button-margin"
    mat-dialog-close
    (click)="cancel()"
  >
    Cancel
  </button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="save()"
  >
    Save
  </button>
</mat-dialog-actions>
