<mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Expenses </mat-panel-title>
    <mat-panel-description>
      {{ totalExpense | currency : "USD" : "symbol" : "1.2-2"
      }}{{ panelOpenState ? " - Total" : "" }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card>
    <mat-accordion>
      <!-- Misc Panel -->
      <app-expense-category
        [categoryType]="categoryTypes.Misc"
      ></app-expense-category>

      <!-- Credit Cards Panel -->
      <app-expense-category
        [categoryType]="categoryTypes.CreditCards"
      ></app-expense-category>

      <!-- Subscriptions panel -->
      <app-expense-category
        [categoryType]="categoryTypes.Subscriptions"
      ></app-expense-category>
    </mat-accordion>
  </mat-card>
</mat-expansion-panel>
