.container-page {
  display: flex;
  flex-direction: column; /* This stacks children vertically */
  align-items: center;
}

button.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}
.mat-card-width {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.calendar {
  margin-top: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

