<div class="card-container">
  <mat-card class="mat-elevation-z8 card">
    <a routerLink="tasks" class="link">
      <mat-icon class="large-icon">task</mat-icon>
    </a>
    <span class="task-text">Tasks</span>
  </mat-card>

  <mat-card class="mat-elevation-z8 card">
    <a routerLink="budget" class="link">
      <mat-icon class="large-icon">currency_exchange</mat-icon>
    </a>
    <span class="task-text">Budget</span>
  </mat-card>

  <mat-card class="mat-elevation-z8 card">
    <a routerLink="login" class="link">
      <mat-icon class="large-icon">account_box</mat-icon>
    </a>
    <span class="task-text">Account</span>
  </mat-card>
</div>
