.card-container {
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  margin: 0 20px;
  border-radius: 15px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column; /* This stacks children vertically */
  align-items: center; /* Centers the button vertically */
  justify-content: center; /* Centers the button horizontally */
//   background-color: #FBF9F1;
}

.large-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.link {
  margin-bottom: 10px; /* adjust as needed */
  color: black;
}

.task-text {
  font-weight: 500;
}
