<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="tasks">
        <mat-icon>task</mat-icon>
        <span>Tasks</span>
      </a>
      <a mat-list-item routerLink="budget">
        <mat-icon>currency_exchange</mat-icon>
        <span>Budget</span>
      </a>
      <a mat-list-item routerLink="about">
        <mat-icon>account_circle</mat-icon>
        <span>Account</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>list</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>TaskN'Budget</span>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
