<div class="center-content">
  <div class="headng-row">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        >Previous</mat-button-toggle
      >
      <mat-button-toggle mwlCalendarToday [(viewDate)]="viewDate"
        >Today</mat-button-toggle
      >
      <mat-button-toggle
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
        >Next</mat-button-toggle
      >
    </mat-button-toggle-group>

    <h5 style="margin-bottom: 0">
      {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
    </h5>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
        >Month</mat-button-toggle
      >
      <mat-button-toggle
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
        >Week</mat-button-toggle
      >
      <mat-button-toggle
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
        >Day</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</div>

<div class="calendar">
  @switch(view) { @case (CalendarView.Month) {
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  ></mwl-calendar-month-view>
  } @case (CalendarView.Week) {
  <mwl-calendar-week-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (hourSegmentClicked)="onTimeClicked($event)"
  ></mwl-calendar-week-view>
  } @case(CalendarView.Day) {
  <mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (hourSegmentClicked)="onTimeClicked($event)"
  ></mwl-calendar-day-view>
  } }
</div>
<mat-divider></mat-divider>
<div class="calendar">
  <h4 style="margin-top: 15px">
    Edit events
    <button
      mat-raised-button
      color="primary"
      class="float-end"
      (click)="addEvent()"
    >
      Add new
    </button>
    <div class="clearfix"></div>
  </h4>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="center-text">Title</th>
          <th class="center-text">Color - Border | Fill | Text</th>
          <th class="center-text">Starts at</th>
          <th class="center-text">Ends at</th>
          <th class="center-text">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let event of events; let i = index"
          [attr.id]="'row' + i"
          (click)="onRowClick(event)"
        >
          <td [class.highlight-grey]="highlightedRows.has(event)">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()"
            />
          </td>
          <td [class.highlight-grey]="highlightedRows.has(event)">
            <div style="display: flex; justify-content: space-around">
              <!-- border color picker -->
              <ngx-colors
                ngx-colors-trigger
                [ngModel]="event.color?.primary"
                (ngModelChange)="onColorChange('border', $event, i)"
              ></ngx-colors>
              <!-- fill color picker -->
              <ngx-colors
                ngx-colors-trigger
                [ngModel]="event.color?.secondary"
                (ngModelChange)="onColorChange('fill', $event, i)"
              ></ngx-colors>
              <!-- text color picker -->
              <ngx-colors
                ngx-colors-trigger
                [ngModel]="event.color?.secondaryText"
                (ngModelChange)="onColorChange('text', $event, i)"
              ></ngx-colors>
            </div>
          </td>
          <td [class.highlight-grey]="highlightedRows.has(event)">
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td [class.highlight-grey]="highlightedRows.has(event)">
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              [altInput]="true"
              [convertModelValue]="true"
              [enableTime]="true"
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td [class.highlight-grey]="highlightedRows.has(event)">
            <div style="display: flex; justify-content: center">
              <button
                mat-raised-button
                color="warn"
                (click)="deleteEvent(event)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
