<div class="background">
  <div class="card-container">
    <mat-card class="mat-elevation-z24 card">
      <mat-card-title
        ><mat-icon class="large-icon" color="primary"
          >account_circle</mat-icon
        ></mat-card-title
      >
      <mat-card-content class="card-content">
        <form>
          <mat-form-field appearance="fill" class="input-field">
            <mat-label>Username</mat-label>
            <input
              matInput
              [(ngModel)]="username"
              name="username"
              placeholder="Enter your username"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              [(ngModel)]="password"
              name="password"
              placeholder="Enter your password"
            />
            <button mat-button matSuffix (click)="togglePasswordVisibility()">
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-error *ngIf="loginError">
            Incorrect username or password.
          </mat-error>
        </form>
        <a href="#" class="forgot-password">Forgot Password?</a>
      </mat-card-content>

      <div class="action-item">
        <button mat-raised-button color="primary" (click)="onLogin()">
          Login
        </button>
      </div>
      <hr class="divider" />
      <div class="action-item">
        <mat-card-subtitle>Don't have an account?</mat-card-subtitle>
        <button mat-raised-button class="create" (click)="register()">
          Create Account
        </button>
      </div>
    </mat-card>
  </div>
</div>
